<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kiteseven.kiteserver.mapper.ComicPageMapper">
    <select id="getComicPage" resultType="org.kiteseven.kitepojo.entity.ComicPage">
        select * from comic_page where comic_id=#{comicId} and chapter_number=#{chapterNumber}
    </select>
</mapper>